main{
  /* display: flex;
  justify-content: center; */
}

.game-board{
  /* text-align: center; */
}


/* game-info
  ----------------- */
.game-info{
  background-color: rgba(146, 151, 149, 0.3);
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

ul{
  display: flex;
}

li{
  list-style-type: none;
  padding: 2px;
}

#buttonList{
  display: grid;
  grid-template-columns: 9rem 1fr 1fr 1fr 1fr 1fr;
}

#buttonList li{
  text-align: center;
  margin-top: 10px;
}

#restart{
  visibility: visible;
  font-size: 1.8rem;
  background: whitesmoke;
  border-radius: 5px;
}

#buttonList li button{
  color: rgb(1, 1, 1);
  background-color: aliceblue;
  padding: 3px;
  border: 2px solid black;
  border-radius: 20px;
}


#buttonList button:hover{
  background-color: rgb(32, 12, 183);
  color: aliceblue;
  transform: scale(1.1);
  border: 1px solid rgb(219, 216, 212);
}

.hidden{
  visibility: hidden;
}

.winner{
  background-color: rgb(249, 251, 133);
}

.disabled {
  pointer-events: none;
  z-index: 100;
}