code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ol, ul {
  padding-left: 30px;
  list-style-type: none;
} */

/*
.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
} */

/* .game {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .game-info {
  margin-left: 20px;
} */




/*
  -- Game.cssに移動 --

#restart{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.winner{
  background-color: rgb(249, 251, 133);
}

*/